body{
    background:url(./wallpaper-7042708_960_720.webp);
    background-repeat: no-repeat;
    background-size:cover;
}

.clock{
    /* border:4px solid #38261c; */
    color: #442a19;
    border-radius:60px;
    width: 700px;
    height: 100px;
    font-size: 5rem;
    /* font-weight: bold; */
    font-family:cursive;
    text-align: center;
    margin-top: 400px;
    margin-left: 950px;
    padding:20px;
    padding-bottom: 25px;
    box-shadow: 2px 6px 8px 2px #3f281b ;
    letter-spacing: 5px;
}